/* ==================================================================================================== */

:root {

    --header-height: 10rem;

    --color-black-1: hsla(0, 0%, 0%, 1);
    --color-black-2: hsla(0, 0%, 10%, 1);
    --color-black-3: hsla(0, 0%, 20%, 1);
    --color-black-4: hsla(0, 0%, 30%, 1);

    --color-white-1: hsla(255, 0%, 70%, 1);
    --color-white-2: hsla(255, 0%, 80%, 1);
    --color-white-3: hsla(255, 0%, 90%, 1);
    --color-white-4: hsla(255, 0%, 100%, 1);

    --color-red-1: hsla(0, 100%, 50%, 1);
    --color-red-2: hsla(0, 100%, 60%, 1);
    --color-red-3: hsla(0, 100%, 70%, 1);
    --color-red-4: hsla(0, 100%, 80%, 1);

    --color-green-1: hsla(120, 100%, 25%, 1);
    --color-green-2: hsla(120, 100%, 35%, 1);
    --color-green-3: hsla(120, 100%, 45%, 1);
    --color-green-4: hsla(120, 100%, 55%, 1);

    --color-blue-1: hsla(240, 100%, 50%, 1);
    --color-blue-2: hsla(240, 100%, 60%, 1);
    --color-blue-3: hsla(240, 100%, 70%, 1);
    --color-blue-4: hsla(240, 100%, 80%, 1);

}

/* ==================================================================================================== */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: lighter;
    line-height: 1.5;
}

/* ==================================================================================================== */

html {
    font-size: clamp(0.5rem, 0.4397rem + 0.3861vw, 0.625rem);
}

/* ==================================================================================================== */

@media (min-width: 768px) {

    html {
        font-size: clamp(0.625rem, 0.25rem + 0.7813vw, 0.75rem);
    }

}

@media (min-width: 1024px) {

    html {
        font-size: clamp(0.75rem, 0.4423rem + 0.4808vw, 0.875rem);
    }

}

/* ==================================================================================================== */